/* estiliza páginas de recitas */

/*reseta css padrão do navegador*/
* {
  margin: 0;
  padding: 0;
  /*muda a maneira que conta o tamanho das caixas ignorando o padding e mantendo como padrão 580 px*/
  box-sizing: border-box;
}
body * {
  font-family: "Open Sans";
  background-color: #3d3d44;

  }

  header{
    padding-top: 32px;
    height: calc(120px + 32px);
  }
  
  header div{
    width: 120px;
    margin: auto;
    
  }
  header img{
    text-align: center;
  }

  main{
    margin: 32px auto;
    width: 1000px;
  }
  
  section {
    padding-top: 4px;
  }

  section div {
    background-color: #3d3d44;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
  }

  .inicio-page {
    text-align: center;
    margin-bottom: 50px;
  }

  h1, h2, h3{
    color: #FF9900;
  }
  ul,ol {
    color: white;
  }

  p {
    color: #f0b154;
  }